@import "normalize.styl"
@import "icon_menu"
@import "fonts.css"
@import "loader.css"

blanco_a = #ffffff
blanco_b = #F4F1F1
gris_a = #535353
gris_b = #686767
gris_trasparente = rgba(0, 0, 0, .2)
verde_a = #009999
naranja_a = #FF6633

html, body 
	background blanco_a
	color black
	font-family arial
	font-size 16px
	
*
	margin 0
	padding 0
	
// utilidades
.U-toggleMenu
	margin-top 16.5em
.U-toggleBuscar
	margin-right 5.8rem !important
	
// header
.Header
	background verde_a
	box-shadow 0px 3px 5px rgba(0, 0, 0, .5)
	color blanco_a
	margin-bottom 1em
	position relative
	&-contImg
		display inline-block
		height 50px
		margin 0 0 0 0.5em
		width 50px
		img 
			width 100%
	&-movile
		overflow hidden
		position relative
		right 0
		top 0
	&-buscar
		display inline-block
		position absolute
		right 0
		top 0
		vertical-align top
		&Form
			position relative
			margin-top 0.5em
			margin-right -7em
			vertical-align top
			transition all 0.3s ease
			& input
				border none
				border-radius 0.3em
				color gris_b
				max-width 11em
				padding 0.46em
				vertical-align top
			&Button
				background verde_a
				border none
				border-radius 0 0.2em 0.2em 0
				font-size 1.5em
				margin 0.0351em 0.05em 0 0
				padding 0.16em
				position: absolute
				right 0
				top 0
		& a
			color blanco_a
			font-size 2em
			margin 0.3em 1.7em 0 0
			position absolute
			right 0
			text-decoration none
			top 0
			z-index 90
	&-searchFondo
		background verde_a
		width 90px
		height 50px
		position absolute
		top 0
		right 0

.Menu
	position absolute
	right 0
	top -14em
	transition all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
	z-index: 100
	&-lista
		list-style none
	&-item
		margin 2em
		margin-right 0.3em
	&-link
		background gris_trasparente
		border-radius 0.3em
		box-shadow 5px 5px 5px rgba(0, 0, 0, .5)
		color blanco_a
		padding 1.5em 1em 1em 1em
		text-decoration none
		text-shadow 5px 5px 5px rgba(0, 0, 0, .5)

/*contenido*/
.Cont
	// display relative
	&-article
		background blanco_b
		box-shadow 0px 0px 10px rgba(0, 0, 0, .75)
		margin 0.5em 0
		position relative
		&Figure
			box-shadow 2px 2px 5px rgba(0, 0, 0, .5)
			display inline-block
			height 100px
			margin 0.5em
			text-align left
			vertical-align top
			width 80px
			img 
				width 100%
	&-articleInfo
			display inline-block
			margin-top 0.5em
			overflow hidden
			vertical-align top
			width 70%
			&Title
				color gris_a
			&
				color gris_b
			&Button
				background naranja_a
				border-radius 0.1em
				bottom 0
				box-shadow 1px 5px 5px rgba(0, 0, 0, .5)
				color blanco_a
				font-size 1.5em
				height 25%
				line-height 75%
				margin 0 0.5em 0.5em 0
				padding 0.3em 1em 0.3em 0.5em
				position absolute
				right 0
				text-shadow 3px 3px 6px rgba(0, 0, 0, .5)
				width 20%

@media screen and (min-width: 720px)
	body
		// background red